@import "vars";



/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
//@include media-breakpoint-down(xl) {}

//Large: ≥992px
//@include media-breakpoint-down(lg) {}

//Medium: ≥768px
//@include media-breakpoint-down(md) {
//}

//Small: ≥576px
//@include media-breakpoint-down(sm) {}

//Extra small: >0
//@include media-breakpoint-down(xs) {}


/*==========  Mobile First  ==========*/

//Extra small: <576px
//@include media-breakpoint-up(xs) {}

//Small: ≤576px
//@include media-breakpoint-up(sm) {}

//Medium: ≤768px
@include media-breakpoint-up(md) {
}

//Large: ≤992px
//@include media-breakpoint-up(lg) {}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {
	.container {
		width: 1200px;
	}

	.header {
		.container {
			flex-direction: row;

		}
	}

	.menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		width: auto;
		box-shadow: none;
		z-index: auto;
	}

	.nav {
		flex-direction: row;
		margin-top: 0;
		margin-bottom: 0;
		border: none;
		padding-left: 0px;
		justify-content: space-between;
		width: 619px;

		&__link {
			margin-bottom: 0;
		}
	}

	.toggler {
		display: none;
	}
}
